span,
h1,
h2 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 100px;
  color: khaki;
  text-align: center;
  background-image: url(./img/pattern.webp);
}

h2 {
  font-size: 32px;
  color: white;
}

span {
  color: blue;
}

.subtitle-1 {
  background-color: mediumspringgreen;
}

.subtitle-2 {
  background-color: lightcoral;
}

.subtitle-3 {
  background-color: skyblue;
}
